@magnus-strategy:registry=https://europe-npm.pkg.dev/magnus-strategy/registry/
//europe-npm.pkg.dev/magnus-strategy/registry/:_authToken=${NPM_TOKEN}
//europe-npm.pkg.dev/magnus-strategy/registry/:always-auth=true
